<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

<!-- ===== MENU ===== -->
<a href="/">Home</a> |

{% if session.get("user") %}
    Login sebagai <b>{{ session.get("user") }}</b> |
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}

<hr>

<h1>Home</h1>

<!-- ===== BUAT AKUN ===== -->
<h2>Buat Akun</h2>

{% if error %}
    <p style="color:red">{{ error }}</p>
{% endif %}

<form method="post">
    <input type="text" name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="password" required>

    <select name="role">
        <option value="mahasiswa">mahasiswa</option>
        <option value="dosen">dosen</option>
        <option value="admin">admin</option>
    </select>

    <button type="submit">Buat</button>
</form>

<hr>

<!-- ===== DAFTAR AKUN ===== -->
<h3>Daftar Akun</h3>

<ol>
    {% for u in users %}
        <li>
            {{ u[1] }} <b>({{ u[2] }})</b>
            <a href="/delete/{{ u[0] }}"
               onclick="return confirm('Yakin hapus akun ini?')">
               hapus
            </a>
        </li>
    {% endfor %}
</ol>

</body>
</html>
